---
- include: vagrant_template.yml
  vars:
    year: "{{outer_item.0.semester}}"
    lesson: "{{outer_item.1}}"
  with_subelements:
    - "{{rdf_informatik}}"
    - disciplines_taught

  loop_control:
    loop_var: outer_item
